html {
  font-size: 62.5%; 
}
body {
  color: #333;
  font-size: 1.6rem;
  height: 100vh;
}
a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #333;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
  text-decoration: none;
}
#topBody {
  position: relative;
}
#allCotents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.wrap {
  width: 1080px;
  margin: 0 auto;
}

.borderBg {
  width: 1080px;
  height: 6000px;
  margin: 0 auto;
  display: flex;
}
.border {
  width: 25%;
  height: 100%;
  border-left: 1px solid #fafafa;
}
.border:last-child {
  border-right: 1px solid #fafafa;
}

h2 {
  font-size: 3.6rem;
}