@charset "UTF-8";
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* arrange */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul li,
ol li {
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  color: #333;
  font-size: 1.6rem;
  height: 100vh; }

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #333;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic;
  text-decoration: none; }

#topBody {
  position: relative; }

#allCotents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.wrap {
  width: 1080px;
  margin: 0 auto; }

.borderBg {
  width: 1080px;
  height: 6000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.border {
  width: 25%;
  height: 100%;
  border-left: 1px solid #fafafa; }

.border:last-child {
  border-right: 1px solid #fafafa; }

h2 {
  font-size: 3.6rem; }

#header {
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 10;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #header .logo {
    width: 300px;
    font-size: 3.2rem;
    font-weight: bold;
    margin-left: 30px; }
  #header nav {
    width: 560px; }
    #header nav .navItems {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      #header nav .navItems .navList {
        width: 25%;
        height: 100%;
        text-align: center;
        font-size: 1.8rem;
        line-height: 80px; }
        #header nav .navItems .navList:last-child {
          background: #d04c4c; }
          #header nav .navItems .navList:last-child a {
            color: #fff; }
          #header nav .navItems .navList:last-child:hover {
            background: #d35858; }

#mainVisual {
  min-width: 1080px;
  height: calc(100vh - 80px);
  padding-top: 80px;
  margin-bottom: 225px;
  background: url("../images/main_image.png") center center no-repeat;
  background-size: cover;
  position: relative; }
  #mainVisual::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); }
  #mainVisual .mainWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    letter-spacing: 1rem; }
    #mainVisual .mainWrap h1 {
      font-size: 7.2rem;
      margin-bottom: 20px; }
    #mainVisual .mainWrap p {
      font-size: 2rem; }
  #mainVisual .topNews {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 480px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #mainVisual .topNews__date {
      width: 120px;
      height: 100%;
      background: #333;
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    #mainVisual .topNews__text {
      width: 360px;
      height: 100%;
      background: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 20px; }

#about {
  position: relative;
  margin-bottom: 250px; }
  #about h2 {
    margin-bottom: 30px; }
  #about .text {
    display: inline-block;
    width: 600px;
    font-size: 2rem;
    line-height: 3.6rem;
    margin-bottom: 400px; }
  #about img {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 480px; }
  #about .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #about .features .point {
      width: 30%; }
      #about .features .point:nth-child(2) {
        margin-top: 75px; }
      #about .features .point:nth-child(3) {
        margin-top: 150px; }
      #about .features .point h3 {
        font-size: 2.4rem;
        margin-bottom: 30px; }
      #about .features .point__text {
        line-height: 4.2rem; }

#concept {
  position: relative;
  height: 900px;
  margin-bottom: 200px; }
  #concept .conceptBg {
    position: absolute;
    top: -80px;
    right: 0;
    background: #ececec;
    width: 75%;
    height: 600px;
    z-index: 1; }
    #concept .conceptBg__heading {
      width: 400px;
      position: absolute;
      bottom: 100px;
      right: 200px;
      padding-left: 50px;
      border-left: 5px solid #bb1b1b; }
      #concept .conceptBg__heading h3 {
        font-size: 3rem;
        line-height: 4.5rem;
        margin-bottom: 30px; }
      #concept .conceptBg__heading p {
        line-height: 3rem; }
  #concept .conceptBgText {
    position: absolute;
    top: -30px;
    left: 120px;
    font-size: 18rem;
    width: 1360px;
    color: #d4d4d4;
    z-index: 2; }
  #concept .conceptWrap {
    position: relative;
    z-index: 3; }
    #concept .conceptWrap h2 {
      font-size: 4.5rem;
      margin-bottom: 550px; }
    #concept .conceptWrap .conceptDesc {
      width: 70%; }
      #concept .conceptWrap .conceptDesc p {
        line-height: 2.8rem; }

#project {
  position: relative;
  margin-bottom: 500px; }
  #project .projectBg {
    position: absolute;
    top: -150px;
    left: 300px;
    background: #bb1b1b;
    width: 500px;
    height: 500px;
    z-index: 1; }
  #project .projectBgText {
    position: absolute;
    top: -250px;
    left: 150px;
    font-size: 18rem;
    width: 1360px;
    color: #d4d4d4;
    z-index: 2; }
  #project .projectWrap {
    position: relative;
    z-index: 3; }
    #project .projectWrap h2 {
      font-size: 4.5rem;
      margin-bottom: 50px; }
    #project .projectWrap .projectDesc {
      width: 30%; }
      #project .projectWrap .projectDesc p {
        line-height: 2.8rem; }

#case {
  margin-bottom: 480px; }
  #case .tab {
    width: 600px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #case .tab__btn {
      width: 150px;
      height: 100%;
      background: #ececec;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #case .tab__btn.active {
        background: #bb1b1b; }
        #case .tab__btn.active a {
          color: #fff; }
  #case .caseBox {
    width: 100%;
    border: 5px solid #ececec;
    padding: 100px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #case .caseBox__image {
      width: 320px;
      height: 240px;
      -o-object-fit: contain;
      object-fit: contain;
      margin-right: 100px; }
    #case .caseBox__desc {
      width: 550px; }
      #case .caseBox__desc .subtitle {
        margin: 40px 0;
        font-size: 2rem; }
      #case .caseBox__desc .text {
        line-height: 2.8rem; }

#member {
  margin-bottom: 160px;
  position: relative; }
  #member .memberBg {
    position: absolute;
    top: -195px;
    left: -90px;
    width: 900px;
    height: 480px;
    background: #bb1b1b;
    z-index: 1; }
  #member h2 {
    position: relative;
    font-size: 3.6rem;
    color: #fff;
    z-index: 2;
    margin-bottom: 600px; }
  #member .memberImage {
    position: absolute;
    top: 200px;
    left: 180px;
    z-index: 2; }
  #member .memberDesc {
    width: 780px;
    margin: 0 auto;
    line-height: 3.6rem; }

#contact {
  width: 100%;
  height: 270px;
  background: #bb1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #contact .contactBtn {
    width: 400px;
    height: 80px;
    margin: 0 auto;
    line-height: 270px;
    background: #fff;
    border: 5px solid #3d3d3d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #contact .contactBtn a {
      font-size: 2rem; }

#footer {
  width: 100%;
  height: 100px;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #footer .copy {
    color: #fff; }
